<div class="page-header">
  <h1><%= t 'cont.post' %></h1>
</div>

<%= link_to(new_status_path, class:"btn btn-success") do %>
               <%= t 'cont.create' %>
               <% end %>

<% @statuses.each do |status|%>

<div class="status">
  <strong><%= status.nombre %></strong>
  <p><%= status.contenido %></p>

  <div>
    <%= link_to time_ago_in_words(status.created_at), status %> 
    <span  class="admin">
     | <%= link_to(edit_status_path(status)) do %>
               <%= t 'cont.edit' %>
               <% end %>  |

               <%= link_to(status, method: :delete, data:{confirm:"¿Estás seguro que quiere borrar este estado?"}) do %>
               <%= t 'cont.delete' %>
               <% end %> 
    </span>
  </div>

</div>



  <% end %>